---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - httproute-redirect.yaml
  - backendtrafficpolicy.yaml
  - imagerepository.yaml
  - imagepolicy.yaml
  - imageupdateautomation.yaml

